.page {
  width: calc(100% - 60px);
  height: calc(100% - 110px);
  padding: 30px;
  margin: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  text-align: left;
}

.error-page {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 350px);
  background-image: url("../../images/404.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
}

.error-page-text {
  text-align: center;
  color: #3374ee;
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
}

.clear-fix {
  clear:both;
}

.title {
  font-size: 20px;
  color:#3374ee;
  font-weight: bold;
  margin-bottom: 20px;
}