.media-list .empty-state {
  height: calc(100% - 108px); }

.media-list .media-search {
  width: calc(100% - 50px);
  float: left;
  margin-right: 15px;
  margin-bottom: 30px; }

.media-list .add {
  margin-top: 5px; }
