.react-header {
  height: 50px;
  background: #3374ee;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
  text-align: left;
  position: relative; }
  .react-header .home-link {
    color: white; }
  .react-header .header-icon {
    height: 30px;
    position: absolute;
    top: 15px;
    cursor: pointer;
    color: white;
    font-size: 20px; }
    .react-header .header-icon:hover {
      color: #e4e4e4; }
    .react-header .header-icon.add-new {
      right: 65px; }
    .react-header .header-icon.my-files {
      right: 110px; }
    .react-header .header-icon.sign-out {
      right: 20px;
      font-size: 22px; }
    .react-header .header-icon.info {
      right: 160px;
      font-size: 14px; }
