.react-header {
    height: 50px;
    background: #3374ee;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 20px;
    text-align: left;
    position: relative;

    .home-link {
        color:white;
    }

    .header-icon {
        height: 30px;
        position: absolute;
        top: 15px;
        cursor: pointer;
        color:white;
        font-size: 20px;
        &:hover {
            color: #e4e4e4;
        }
        &.add-new {
            right: 65px;
        }
        &.my-files {
            right: 110px;
        }
        &.sign-out {
            right: 20px;
            font-size: 22px;
        }
        &.info {
            right: 160px;
            font-size: 14px;
        }
    }
}


