.segment {
  width: calc(50% - 10px);
  height: 100%;
  float: left;

  &.left {
    border-right: 1px solid lightgray;
    margin-right: 10px;

    .back-button {
      float: right;
      margin-right: 25px;
    }

    .search-title {
      height: 20px;
      margin: 20px 0;
    }

    .logo {
      float: left;
      height: 50px;
      width: 50px;
      margin-bottom: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &.videos {
        background-image: url("../../../../images/youtube.svg");
      }
      &.images {
        background-image: url("../../../../images/insta.svg");
      }
      &.mediasaved {
        background-image: url("../../../../images/box.svg");
      }
    }

    .ui.input {
      width: calc(100% - 20px);
    }

    .items-list {
      margin-top: 20px;
      height: calc(100% - 138px);
      overflow-y: auto;
    }
  }

  &.right {
    padding-left: 20px;
    position: relative;

    .post-frame {
      width: 100%;
      height: 500px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }

    textarea {
      width: 100%;
      height: 80px;
      resize: none;
      margin: 20px 0;
    }

    .empty-panel {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 250px;
      font-size: 20px;
      color: #3374ee;
      font-weight: bold;
    }
  }
}
