.segment {
  width: calc(50% - 10px);
  height: 100%;
  float: left; }
  .segment.left {
    border-right: 1px solid lightgray;
    margin-right: 10px; }
    .segment.left .back-button {
      float: right;
      margin-right: 25px; }
    .segment.left .search-title {
      height: 20px;
      margin: 20px 0; }
    .segment.left .logo {
      float: left;
      height: 50px;
      width: 50px;
      margin-bottom: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      .segment.left .logo.videos {
        background-image: url("../../../../images/youtube.svg"); }
      .segment.left .logo.images {
        background-image: url("../../../../images/insta.svg"); }
      .segment.left .logo.mediasaved {
        background-image: url("../../../../images/box.svg"); }
    .segment.left .ui.input {
      width: calc(100% - 20px); }
    .segment.left .items-list {
      margin-top: 20px;
      height: calc(100% - 138px);
      overflow-y: auto; }
  .segment.right {
    padding-left: 20px;
    position: relative; }
    .segment.right .post-frame {
      width: 100%;
      height: 500px;
      border: 1px solid lightgray;
      border-radius: 5px; }
    .segment.right textarea {
      width: 100%;
      height: 80px;
      resize: none;
      margin: 20px 0; }
    .segment.right .empty-panel {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 250px;
      font-size: 20px;
      color: #3374ee;
      font-weight: bold; }
