.post-thumb {
  float: left;
  width: 200px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  &:hover {
    .remove-post {
      display: block;
    }
  }
  &.list {
    height: 230px;
    margin-bottom: 20px;

    .thumb-data {
      height: 55px;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
      opacity: 0.7;
    }

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  &.search {
    width: calc(100% - 10px);
    height: 170px;
    padding-right: 10px;

    .thumb-image {
      float: left;
    }

    .thumb-data {
      float: left;
      font-size: 16px;
      color:grey;
      width: calc(100% - 210px);
      height: 130px;
      position: relative;

      .bold {
        font-weight: bold;
        color:black;
        text-decoration: underline;
      }

      .author {
        color: #3374ee;
        position: absolute;
        font-size: 14px;
        bottom: 5px;
        left: 0;
      }
    }

    button {
      visibility: hidden;
      position: absolute;
      right: 20px;
      bottom: 60px;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .thumb-image {
    width: 200px;
    height: 130px;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    &.placeholder {
      .image.icon {
        font-size: 130px!important;
        line-height: 130px;
        text-align: center;
        width: 100%;
        color:white;
      }
    }
  }

  .thumb-data {
    max-width: 100%;
  }

}
