.post-thumb {
  float: left;
  width: 200px;
  margin: 0 10px;
  cursor: pointer;
  position: relative; }
  .post-thumb:hover .remove-post {
    display: block; }
  .post-thumb.list {
    height: 230px;
    margin-bottom: 20px; }
    .post-thumb.list .thumb-data {
      height: 55px;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
      opacity: 0.7; }
    .post-thumb.list button {
      visibility: hidden; }
    .post-thumb.list:hover button {
      visibility: visible; }
  .post-thumb.search {
    width: calc(100% - 10px);
    height: 170px;
    padding-right: 10px; }
    .post-thumb.search .thumb-image {
      float: left; }
    .post-thumb.search .thumb-data {
      float: left;
      font-size: 16px;
      color: grey;
      width: calc(100% - 210px);
      height: 130px;
      position: relative; }
      .post-thumb.search .thumb-data .bold {
        font-weight: bold;
        color: black;
        text-decoration: underline; }
      .post-thumb.search .thumb-data .author {
        color: #3374ee;
        position: absolute;
        font-size: 14px;
        bottom: 5px;
        left: 0; }
    .post-thumb.search button {
      visibility: hidden;
      position: absolute;
      right: 20px;
      bottom: 60px; }
    .post-thumb.search:hover button {
      visibility: visible; }
  .post-thumb .thumb-image {
    width: 200px;
    height: 130px;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; }
    .post-thumb .thumb-image.placeholder .image.icon {
      font-size: 130px !important;
      line-height: 130px;
      text-align: center;
      width: 100%;
      color: white; }
  .post-thumb .thumb-data {
    max-width: 100%; }
