iframe {
  outline: none;
  border: none; }

.post-data {
  margin-top: 20px; }
  .post-data .name {
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .post-data .author {
    color: #3689ff;
    font-weight: bold; }

.post-frame {
  text-align: center; }
  .post-frame .preview-image {
    height: 100%;
    width: auto; }
