iframe {
  outline: none;
  border: none;
}
.post-data {
  margin-top: 20px;

  .name {
    color:#222222;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .author {
    color: #3689ff;
    font-weight: bold;
  }
}

.post-frame {
  text-align: center;
  .preview-image {
    height: 100%;
    width: auto;
  }
}

