.input-search-holder .search, .input-search-holder .add {
  cursor: pointer; }

.input-search-holder .add {
  color: #3374ee; }
  .input-search-holder .add:hover {
    color: #bfd3f8; }

.input-search-holder .input-search {
  margin-right: 20px;
  width: calc(100% - 60px);
  margin-bottom: 30px; }
