.input-search-holder {
  .search, .add {
    cursor: pointer;
  }

  .add {
    color:#3374ee;
    &:hover {
      color:#bfd3f8;
    }
  }

  .input-search {
    margin-right: 20px;
    width: calc(100% - 60px);
    margin-bottom: 30px;
  }
}

