.new-post-container {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;

  form {
    margin-bottom: 20px;
  }


  .textarea {
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: 1px solid transparent;
    padding: 10px;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
     &:focus {
      border-color: #cce2ff;
      outline: 1px solid  #cce2ff;
    }
  }
  .error-message {
    color: red;
    padding-bottom: 15px;
    clear: both;
  }
  .ui.input {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  label {
    display: block;
    font-size: 20px;
    padding-top: 15px;
    clear: both;
  }
  .add-media {
    float: left;
  }

  .added-media {
    clear: both;
    float: left;
    padding-top: 10px;
    font-weight: bold;
    .post-thumb {
      margin: 0;
    }
  }
}