.new-post-container {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto; }
  .new-post-container form {
    margin-bottom: 20px; }
  .new-post-container .textarea {
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: 1px solid transparent;
    padding: 10px;
    width: 100%;
    height: 300px;
    margin-bottom: 15px; }
    .new-post-container .textarea:focus {
      border-color: #cce2ff;
      outline: 1px solid  #cce2ff; }
  .new-post-container .error-message {
    color: red;
    padding-bottom: 15px;
    clear: both; }
  .new-post-container .ui.input {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px; }
  .new-post-container label {
    display: block;
    font-size: 20px;
    padding-top: 15px;
    clear: both; }
  .new-post-container .add-media {
    float: left; }
  .new-post-container .added-media {
    clear: both;
    float: left;
    padding-top: 10px;
    font-weight: bold; }
    .new-post-container .added-media .post-thumb {
      margin: 0; }
