.login-wrap {
    padding: 50px;
    width: 100%;
    height: calc(100% - 50px);
    position: relative;

    .ui.padded.segment.google-sign-in {
        width: 320px;
        height: 300px;
        border: 1px solid lightgray;
        border-radius: 5px;
        position: absolute;
        left: calc(50% - 160px);
        top: calc(50% - 200px);
        padding: 115px 0;
    }

    .google-login {
        background-color: cornflowerblue;
        border: 1px solid;
        color: white;
        padding: 10px 20px;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: lighten(cornflowerblue, 20%);
        }
    }
}
