.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal-backdrop .modal-wrapper {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: left; }
  .modal-backdrop .modal-header {
    background-color: #4c80d6;
    color: white;
    font-size: 17px;
    padding: 10px 80px 10px 20px;
    position: relative;
    border-radius: 5px 5px 0 0; }
    .modal-backdrop .modal-header .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      color: white;
      cursor: pointer; }
      .modal-backdrop .modal-header .close:hover {
        color: #dbdbdb; }
  .modal-backdrop .modal-body {
    padding: 50px; }
    .modal-backdrop .modal-body .pick-item {
      width: 140px;
      height: 140px;
      float: left;
      margin: 0 20px;
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      border-radius: 5px;
      transition: box-shadow 0.3s; }
      .modal-backdrop .modal-body .pick-item:hover {
        box-shadow: 0 4px 16px 8px rgba(204, 204, 204, 0.8); }
      .modal-backdrop .modal-body .pick-item.videos {
        background-image: url("./../../images/youtube.svg"); }
      .modal-backdrop .modal-body .pick-item.images {
        background-image: url("./../../images/insta.svg"); }
      .modal-backdrop .modal-body .pick-item.myfiles {
        background-image: url("./../../images/box.svg"); }
