.modal-backdrop {
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  .modal-wrapper {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: left;
  }

  .modal-header {
    background-color: #4c80d6;
    color:white;
    font-size: 17px;
    padding: 10px 80px 10px 20px;
    position: relative;
    border-radius: 5px 5px 0 0;

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      color:white;
      cursor: pointer;
      &:hover {
        color: #dbdbdb;
      }
    }
  }

  .modal-body {
    padding: 50px;

    .pick-item {
      width: 140px;
      height: 140px;
      float: left;
      margin: 0 20px;
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      border-radius: 5px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 4px 16px 8px rgba(204,204,204,0.8);
      }

      &.videos {
        background-image: url("./../../images/youtube.svg");
      }

      &.images {
        background-image: url("./../../images/insta.svg");
      }

      &.myfiles {
        background-image: url("./../../images/box.svg");
      }
    }
  }
}