.empty-state {
  font-size: 24px;
  color: #3374ee;
  text-align: center;
  height: 100%;
  padding: 200px 0;
}
.posts-list {
  .empty-state {
    height: calc(100% - 108px);
  }
  overflow-y: auto;
  .post-search {
    width: 100%;
    margin-bottom: 30px;
  }
  .thumb-data {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    .author{
      font-size: 12px;
    }
  }

}