.empty-state {
  font-size: 24px;
  color: #3374ee;
  text-align: center;
  height: 100%;
  padding: 200px 0; }

.posts-list {
  overflow-y: auto; }
  .posts-list .empty-state {
    height: calc(100% - 108px); }
  .posts-list .post-search {
    width: 100%;
    margin-bottom: 30px; }
  .posts-list .thumb-data {
    color: #333;
    font-size: 16px;
    font-weight: bold; }
    .posts-list .thumb-data .author {
      font-size: 12px; }
